body{

    font-family: montserrat;
    background-color:#EFEFEF;

}

p {

    text-indent: 1.5rem;

}

.mundo_wikipedia{

    text-align: center;
    margin: 0 auto;
    margin-bottom: 220px;

}

.title-topics{

    text-align: center;
}

h1{

    font-size: 40px;
    
}

hr{

    margin: 0 25% 0 25%;
    width: 20%;
    margin: 0 auto;
    height: 7px;
    /* border-radius: 100px 0px 0px 0px; */
    background-color: #000000;

}

ol{

    list-style: none;

}

.links{

    width: 1318px;
    height: 609px;

}

.vejamais{

    text-align: center;

}

a{

    color: blue;

}

.azul{
    
    color: blue;

}